// Typography
//$sans-serif: $helvetica;
//$serif: $georgia;
//$base-font-family: $sans-serif;
//$header-font-family: $base-font-family;

// Font Sizes
$base-font-size: 1em;
$h1-font-size: $base-font-size * 2.25;
$h2-font-size: $base-font-size * 2;
$h3-font-size: $base-font-size * 1.75;
$h4-font-size: $base-font-size * 1.5;
$h5-font-size: $base-font-size * 1.25;
$h6-font-size: $base-font-size;

// Line height
$base-line-height: 1.5;
$header-line-height: 1.25;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$base-z-index: 0;

// Background Color
$base-background-color: white;

// Font Colors
$base-font-color: $dark-grey;
$base-accent-color: $blue;

// Link Colors
$base-link-color: $base-accent-color;
$hover-link-color: darken($base-accent-color, 15);
$base-button-color: $base-link-color;
$hover-button-color: $hover-link-color;

/*
// Flash Colors
$alert-color: $light-yellow;
$error-color: $light-red;
$notice-color: lighten($base-accent-color, 40);
$success-color: $light-green;
*/

// Border color
$base-border-color: $light-grey;
$base-border: 1px solid $base-border-color;

// Forms
$form-border-size: 1px;
$form-border-color: $base-border-color;
$form-border-color-hover: darken($base-border-color, 10);
$form-border-color-focus: $base-accent-color;
$form-border-radius: $base-border-radius;
$form-box-shadow: inset 0 1px 3px rgba(black,0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px rgba(darken($form-border-color-focus, 5), 0.7);
$form-font-size: $base-font-size;
//$form-font-family: $base-font-family;

// Navigation
$navigation-background: $dark-grey;
$navigation-color: transparentize(white, 0.3);
$navigation-color-hover: white;
$navigation-height: 60px;
$navigation-active-link-color: transparentize(white, 0.5);
$navigation-submenu-padding: 1em;
$navigation-submenu-width: 12em;
$navigation-border-radius: $base-border-radius;
$navigation-first-padding-top: 1em;
$navigation-last-padding-bottom: 0.7em;
$navigation-more-pin: '\25BE';
$navigation-more-pin-color: $navigation-color;
$navigation-ul-submenu-top: 1.5em;
$navigation-ul-submenu-padding-left: 0;
$navigation-search-padding: .85em .6em;
$navigation-border-bottom: 1px solid darken($navigation-background, 10);

// Footer
$footer-background: $grey-50;//-blue;// desaturate(darken($base-accent-color, 20), 30);
$footer-color: white;
$footer-link-color: transparentize($footer-color, .6);
$footer-disclaimer-color: transparentize($footer-color, .6);
$footer-vertical-padding: 0;

@import "../custom/config/variables";