/* Tabs */
$navigation-color: $red;
$gutter : 4;
$norm: 5;
$body-font-color: $white;
$default-color: $green;
$global-bg-color: $yellow;

.tab-nav {
   margin: 0.5em 0;
   padding: 0;

   > li {
      font-family: $tabs-nav-font-family;
      display: inline-block;
      width: 100%;
      cursor: default;
      @include border-top-radius($base-border-radius);
      @include border-bottom-radius($base-border-radius);
      margin-bottom: $tabs-nav-margin-bottom;

      &.title {
         padding: 0.5em 0.5em 0.5em 1em;
         font-weight: 900;
         background-color: $tabs-nav-title-bg-color;
         color: $tabs-nav-title-text-color;
      }

      > a  {
         display: block;
         width: auto;
         padding: 0.5em 0.5em 0.5em 1.5em;
         margin: 0;
         color: $tabs-nav-text-color;
         cursor: pointer;
         border: $tabs-new-border;
         background-color: $tabs-nav-bg-color;
         @include border-top-radius($base-border-radius);
         @include border-bottom-radius($base-border-radius);

         &:hover, &:active {  
            border: $tabs-nav-hover-border;
            color: $tabs-nav-hover-text-color;
            text-decoration: none;
         }
      }
   }
}